<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>
            @import url("https://fonts.googleapis.com/css?family=Lato");
            body {
                margin: 0;
                padding: 0;
                font-family: 'Lato', Sans-Serif;
                font-size: 62.5%;
                /* 10px */
                width: 100%;
                height: 100vh;
                background-color: #212121;
            }

            .align {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .login {
                background-color: #323232;
                height: 22rem;
                width: 20rem;
                margin-top: 10rem;
                padding: 3rem;
                box-sizing: border-box;
                border-radius: 0rem;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
            }

            .bar {
                background-color: #14FFEC;
                height: 0.2rem;
                margin-top: -3rem;
                margin-left: -3rem;
                width: 20rem;
            }

            h2 {
                color: #14FFEC;
                padding: 2rem 0 1.3rem 0;
                letter-spacing: 0.3rem;
                text-transform: uppercase;
            }

            .login > button {
                display: block;
                width: 100%;
                background-color: #14FFEC;
            }

            button {
                width: 20rem;
                padding: 0.6rem;
                margin: 2rem 0;
                text-decoration: none;
                border: none;
                font-family: 'Lato';
                cursor: pointer;
                color: #212121;
                outline: 0;
            }

            input {
                display: block;
                width: 100%;
                padding: 0.5rem;
                box-sizing: border-box;
                margin: 1rem 0;
                background-color: #656565;
                font-size: 0.7rem;
                font-family: 'Lato';
                outline: 0;
                border: 0;
            }

            input::placeholder {
                color: #989898;
            }

            input:active, input:focus {
                background-color: #989898;
                outline: 0.1rem solid #14FFEC;
                color: #ffffff;
                border: none;
            }

            p {
                color: #989898;
                padding-top: 0.8rem;
                margin-bottom: -1.5rem;
                font-size: 0.8rem;
            }

            a:link, a:visited, a:hover, a:active {
                text-decoration: none;
                color: #ffffff;
            }
            button:disabled {
                cursor: not-allowed;
                pointer-events: all !important;
            }
        </style>
    </head>

    <body>
        <div class="align">
            <div class="login">
                <div class="bar">&nbsp;</div>
                <h2>Request an Alert</h2>
                <input type="text" id="email" placeholder="Enter SU-net username (not email)" required>
                <input type="text" id="crn" placeholder="Enter CRN" required>
                <button id="submit" disabled>Submit</button>

                <p>Also available as Telegram Bot!</p>
                <p><a href="https://t.me/CapacityInformerBot" target="_blank">Click</a> to start using now.</p>
            </div>                    
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="js/jquery.inputmask.min.js"></script>

    <script>
        const Toast = Swal.mixin({
                        toast: true,
                        position: 'top',
                        showConfirmButton: false,
                        timer: 3000
                    })
        $('#crn').inputmask({
            mask: '99999',
            showMaskOnFocus: false,
            showMaskOnHover: false
        })
        $('#submit').on('click', function (e) {
            e.preventDefault()
            var url = 'http://34.70.23.211:3000/'
            var path = `/api/addrequest?email=${$('#email').val()}&crn=${$('#crn').val()}`

            $.ajax(url+path, {
                method: 'GET',
                dataType: 'json',
                success: function (){
                    Toast.fire({
                        type: 'success',
                        text: "Subscribed to the alert list of requested CRN!"
                    })            
                },
                error: function(xhr, status, error){
                    Toast.fire({
                        type: 'error',
                        text: "Something happened, couldn't complete the action..."
                    })            
                }
            })
        })

        function check_input()
        {
            if(! Inputmask.isValid($('#crn').val(), { mask: '99999'})) //Check CRN
                return true
            else if($('#email').val().length == 0) //Check email
                return true
            else if($('#email').val().split('@').length > 1)
                return true
            else
                return false

        }

        $('#crn').on('input', function(){
            $("#submit").attr("disabled", check_input())
        })
        $('#email').on('input', function(){
            $("#submit").attr("disabled", check_input())
        })
    </script>
</html>
