<p>There is an available space at the course with the CRN: <%= @crn.crn %>.</p>

<p>Upon receving this mail, you will be removed from the alert list of this CRN.</p>

<p>If you want to receive a mail for this CRN, click <a href="#">here</a> to resubscribe.</p> 