<p>There is an available space at the course with the CRN: <%= @crn.crn %>.</p>

<p>Upon receving this mail, you will be removed from the alert list of this CRN.</p>

<p>If you want to receive a mail for this CRN, click <a href="http://34.70.23.211:3000/api/addrequest?email=<%= @user.email %>&crn=<%= @crn.crn %>">here</a> to resubscribe.</p> 